/*! CSS Used from: Embedded */
.ui_icon:before{display:inline-block;font-style:normal;font-weight:400;font-variant:normal;font-size:inherit;line-height:1;font-family:TripAdvisor_Regular!important;-ms-transform:rotate(-.001deg);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;text-decoration:underline;}
.ui_icon.ui_icon:before{text-decoration:none;}
.ui_icon.caret-down:before{content:"\e04a";}
.ui_icon:before{display:inline-block;font-style:normal;font-weight:400;font-variant:normal;font-size:inherit;line-height:1;font-family:TripAdvisor_Regular!important;-ms-transform:rotate(-.001deg);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;text-decoration:underline;}
.ui_icon.ui_icon:before{text-decoration:none;}
.ui_icon.map-pin-fill:before{content:"\e01a";}
.ui_icon.share:before{content:"\e09a";}
.ui_icon.thumbs-up:before{content:"\e13a";}
div{margin:0;padding:0;}
img{border:0;}
q:after,q:before{content:"";}
a{text-decoration:none;}
.ui_bubble_rating{display:inline-block;position:relative;}
.ui_bubble_rating:after,.ui_bubble_rating:before{display:inline-block;font-style:normal;font-weight:400;font-variant:normal;font-size:inherit;line-height:1;font-family:TripAdvisor_Regular!important;-ms-transform:rotate(-.001deg);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;}
.ui_bubble_rating:before{color:#fff;display:block;content:"\e00a\e00a\e00a\e00a\e00a";}
.ui_bubble_rating:after{position:absolute;top:0;left:0;color:#00aa6c;}
.ui_bubble_rating.bubble_50:after{content:"\e00b\e00b\e00b\e00b\e00b";}
@media print{
.ui_bubble_rating:before{color:transparent;}
}
.ui_social_avatar{width:48px;height:48px;border-radius:100%;display:block;position:relative;overflow:hidden;background-color:#fff;transition:width 50ms,height 50ms;}
.ui_social_avatar img{display:block;width:42px;height:42px;margin:3px;border-radius:inherit;}
.ui_social_avatar:before{top:0;right:0;bottom:0;left:0;border:3px solid #fff;border-radius:inherit;}
.ui_social_avatar:after,.ui_social_avatar:before{position:absolute;box-sizing:border-box;content:"";}
.ui_social_avatar:after{top:3px;right:3px;bottom:3px;left:3px;border:1px solid rgba(0,0,0,.1);border-radius:inherit;}
.ui_social_avatar.inline{display:inline-block;}
.ui_link{color:#474747;text-decoration:none;cursor:pointer;}
@media (min-width:1024px){
.ui_link:active,.ui_link:hover{color:#474747;text-decoration:underline;}
}
.ui_link:focus{color:#474747;text-decoration:underline;outline:none;}
.ui_link:visited{color:#474747;text-decoration:none;}
/*! CSS Used from: https://static.tacdn.com/assets/OMqGt0.a0d9ebab.css */
._2HBN-k68{display:inline-block;vertical-align:bottom;}
._2JndpOur{fill:currentColor;}
/*! CSS Used from: https://static.tacdn.com/assets/Hgrhyo.365918b2.css */
._3x5_awTA{display:block;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;}
/*! CSS Used from: https://static.tacdn.com/assets/ui0Mdg.8516faed.css */
._1k12Q93K{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;cursor:pointer;}
._1k12Q93K ._3g9oGli4{margin-right:4px;font-size:20px;color:#bababa;}
._1k12Q93K ._3p1vOjv8{font-weight:700;font-size:12px;line-height:20px;color:#000;}
@media (min-width:768px){
._1k12Q93K:hover ._3g9oGli4{color:#000;}
._1k12Q93K:hover ._3p1vOjv8{text-decoration:underline;}
}
/*! CSS Used from: https://static.tacdn.com/assets/QmAjD5.a8e12b75.css */
._3hDPbqWO{font-size:14px;padding:0 16px;margin-top:5px;}
@media (min-width:768px){
._3hDPbqWO{padding:0 24px;}
}
.IRsGHoPm{color:#474747;font-size:16px;line-height:20px;word-wrap:break-word;}
.XUVJZtom{margin:6px 0 12px;}
._3maEfNCR{cursor:pointer;color:#8c8c8c;border:solid #e0e0e0;border-width:0 0 1px;}
._3aUwQbpX{margin-left:4px;}
.nf9vGX55{padding:8px 16px 0;-webkit-flex:1;-ms-flex:1;flex:1;}
@media (min-width:768px){
.nf9vGX55{padding:12px 24px 0;}
}
._2UEC-y30{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:baseline;-ms-flex-align:baseline;align-items:baseline;}
@media (max-width:767px){
._2UEC-y30{-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
}
.oETBfkHU{position:relative;margin:0 -16px;background:#fff;}
@media (min-width:768px){
.oETBfkHU{margin:0 -24px;}
}
.glasR4aX{margin-top:8px;margin-bottom:8px;padding:0 16px;cursor:pointer;font-weight:700;font-size:18px;line-height:22px;color:#000;word-wrap:break-word;}
@media (max-width:767px){
.glasR4aX{margin-top:10px;}
}
@media (min-width:768px){
.glasR4aX{width:calc(100% - 182px);padding:0 24px;}
}
.ocfR3SKN,.ocfR3SKN:active,.ocfR3SKN:visited{color:#000;}
._34Xs-BQm{display:block;margin-top:12px;font-size:14px;line-height:18px;color:#000;}
._34Xs-BQm ._355y0nZn{font-weight:700;}
/*! CSS Used from: https://static.tacdn.com/assets/T9pBQS.e817b2ee.css */
._3d_mZXGr{margin:0 -16px;padding:0 16px 16px;background:#fff;}
@media (min-width:768px){
._3d_mZXGr{margin:0 -24px;padding:0 24px 12px;}
}
._3d_mZXGr:last-child{padding-bottom:0;}
/*! CSS Used from: https://static.tacdn.com/assets/WWE3W5.bc8b740c.css */
._310S4sqz{margin-bottom:12px;zoom:1;}
._310S4sqz:after,._310S4sqz:before{content:" ";display:table;}
._310S4sqz:after{clear:both;}
._310S4sqz .ui_social_avatar{margin:-3px 8px 0 -3px;float:left;}
._3TMaHs5O{display:-webkit-flex;display:-ms-flexbox;display:flex;margin:-2px 0 0 12px;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;float:right;}
._1r_My98y:active,._1r_My98y:hover{text-decoration:underline;}
._1r_My98y.ui_header_link{font-weight:700;color:#000;}
@media (max-width:767px){
._1r_My98y.ui_header_link{display:block;}
}
._2uYWQXeO,._2uYWQXeO ._2fxQ4TOx{height:100%;overflow:hidden;}
._2uYWQXeO ._2fxQ4TOx{padding-bottom:2px;font-size:14px;line-height:18px;color:#474747;}
._2uYWQXeO .overflow{margin-top:-2px;float:right;}
/*! CSS Used from: https://static.tacdn.com/assets/miRpRf.96a44839.css */
._2f_ruteS,.cPQsENeY{position:relative;}
._2uD5bLZZ .cPQsENeY{overflow:hidden;}
._1bona3Pu ._36B4Vw6t{display:none;}
._2uD5bLZZ ._36B4Vw6t{display:inline-block;}
/*! CSS Used from: https://static.tacdn.com/assets/3fnomI.24854ee0.css */
._1EpRX7o3 ._1TuWwpYf{font-size:12px;line-height:16px;}
._1EpRX7o3 ._1TuWwpYf{color:#8c8c8c;}
@media (min-width:768px){
._1EpRX7o3 ._1TuWwpYf+._3fPsSAYi:before{content:"\A0\2022\A0";}
}
@media (max-width:767px){
._1EpRX7o3 ._1TuWwpYf{display:block;}
}
._1EpRX7o3 ._3fPsSAYi{font-size:12px;line-height:16px;color:#8c8c8c;display:inline-block;}
._1EpRX7o3 ._3fPsSAYi+._3fPsSAYi:before{content:"\A0\2022\A0";}
._1EpRX7o3 ._1fk70GUn{font-weight:700;color:#8c8c8c;}
/*! CSS Used from: https://static.tacdn.com/assets/zrL722.9c0e0a1c.css */
._2lqOQqh3{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;cursor:pointer;}
._2lqOQqh3:not(:last-child){margin-right:20px;}
._2lqOQqh3 .Ak8Bi3Zf{margin-right:4px;font-size:20px;color:#bababa;}
._2lqOQqh3 ._1Dl3N9MC{font-weight:700;font-size:12px;line-height:20px;color:#000;}
@media (min-width:768px){
._2lqOQqh3:hover .Ak8Bi3Zf{color:#000;}
._2lqOQqh3:hover ._1Dl3N9MC{text-decoration:underline;}
}
._331VZDkq{display:-webkit-flex;display:-ms-flexbox;display:flex;}
@media (max-width:767px){
._331VZDkq{margin-right:-4px;}
._331VZDkq .socialCTA{display:none;}
}
._3SZRHJHk{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;margin-top:12px;box-sizing:border-box;}
@media (max-width:767px){
._3SZRHJHk{-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
}
/*! CSS Used from: https://static.tacdn.com/assets/ce1YGz.3e4e3456.css */
._3V8URHDq{float:right;}
/*! CSS Used from: https://static.tacdn.com/assets/lQWUxH.c87a3406.css */
.T870kzTX{margin-bottom:12px;}
.Dq9MAugU{background-color:#fff;box-sizing:border-box;}
.Dq9MAugU.LnVzGwUB{padding:16px 16px 12px;}
@media (min-width:768px){
.Dq9MAugU.LnVzGwUB{padding:16px 24px 12px;}
}
/*! CSS Used from: https://static.tacdn.com/assets/u-66yY/K6n6GC.04e8829e.css */
._27JpaCjl{padding-bottom:12px;}
/*! CSS Used from: https://static.tacdn.com/assets/jLmCNP.5a103493.css */
._3-zQ1eyd{margin-left:12px;font-size:24px;cursor:pointer;}
@media (min-width:768px){
._3-zQ1eyd:hover{color:var(--bubbleIcon);}
}
._3-zQ1eyd._3LR9XvrV{color:var(--primaryIcon);}
/*! CSS Used from: https://static.tacdn.com/assets/Ac9jMZ.3ef0cac9.css */
._3UnecFwl{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;height:0;opacity:0;transition:height .15s ease-in,padding-bottom .15s ease-in,padding-top .15s ease-in,opacity .15s ease-in;}
/*! CSS Used from: https://static.tacdn.com/assets/_RYn2L.c9d82846.css */
._3J15flPT ._2kj8kWkW{margin-right:4px;font-size:16px;}
._3J15flPT.small{margin:0;font-size:12px;line-height:16px;}
._3J15flPT.small ._2kj8kWkW{position:relative;top:-1px;margin-right:0;font-size:12px;}





/*! CSS Used from: Embedded */
@media (max-width:1023px){
  .delineation #btf_wrap .ui_pagination{border-width:1px 0 0;border-style:solid;border-color:#e0e0e0;}
  }
  .ui_button{-webkit-appearance:none;-moz-appearance:none;appearance:none;position:relative;display:inline-block;padding:8px 16px;font-weight:700;font-family:inherit;border:1px solid transparent;border-radius:2px;background-clip:padding-box;box-sizing:border-box;font-size:14px;line-height:18px;text-align:center;text-decoration:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;cursor:pointer;transition:background-color .2s;}
  .ui_button:focus:active{text-decoration:none;outline:none;}
  .ui_button.primary{border-color:#000;border-radius:3px;background-color:#000;color:#fff;}
  .ui_button.primary:not(.disabled):hover{text-decoration:none;border-color:#292929;background-color:#292929;}
  .ui_button.primary:not(.disabled):focus{outline:none;text-decoration:none;box-shadow:0 0 0 2px #fff,0 0 0 3px #000;}
  .ui_button.primary:not(.disabled):active{border-color:#525252;background-color:#525252;box-shadow:none;}
  .ui_button.secondary{border-color:#000;border-radius:3px;background-color:#fff;color:#000;}
  .ui_button.secondary:not(.disabled):hover{text-decoration:none;background-color:#d6d6d6;border-color:#000;color:#000;}
  .ui_button.secondary:not(.disabled):focus{outline:none;text-decoration:none;box-shadow:0 0 0 2px #fff,0 0 0 3px #000;}
  .ui_button.secondary:not(.disabled):active{background-color:#adadad;border-color:#000;color:#000;box-shadow:none;}
  .ui_pagination{padding:12px 0;overflow:hidden;border-width:1px 0;border-style:solid;border-color:#e0e0e0;background-color:#fff;text-align:center;}
  .ui_pagination .pageNumbers{display:inline-block;padding-top:3px;}
  .ui_pagination .pageNum{line-height:40px;height:40px;width:40px;font-size:14px;font-weight:700;border:none;display:inline-block;color:#000;cursor:pointer;border-radius:2px;}
  .ui_pagination .pageNum.disabled{cursor:default;}
  .ui_pagination .pageNum.current{background-color:#f2f2f2;border-color:#f2f2f2;color:#000;cursor:default;}
  .ui_pagination .separator{width:32px;line-height:30px;color:#8c8c8c;}
  .ui_pagination .separator:hover{text-decoration:none;}
  .ui_pagination .nav.previous{float:left;}
  .ui_pagination .nav.next{float:right;}
  @media (max-width:767px){
  .ui_pagination .pageNumbers{padding-top:8px;}
  .ui_pagination .nav{width:48%;}
  }
  @media (min-width:768px){
  .ui_pagination{padding:12px 10px;}
  .ui_pagination .pageNum{color:#000;}
  .ui_pagination .pageNum:hover{color:#00aa6c;text-decoration:none;}
  .ui_pagination .pageNum.current:hover{color:#000;text-decoration:none;}
  }
  @media (max-width:350px){
  .ui_pagination .pageNum{margin:0 -3px;}
  }
  /*! CSS Used from: https://static.tacdn.com/assets/Mqro46.79df7164.css */
  ._16gKMTFp{margin-bottom:12px;}
  .ui_pagination{border:none;}
  /*! CSS Used from: https://static.tacdn.com/assets/Mqro46.c10ae178.css */
  ._16gKMTFp{margin-bottom:12px;}
  .ui_pagination{border:none;}





app.all('*', (req, res, next) => {
  res.header('Access-Control-Allow-Origin', '*');
  res.header('Access-Control-Allow-Headers', 'Content-Type, Content-Length, Authorization, Accept, X-Requested-With , yourHeaderFeild');
  res.header('Access-Control-Allow-Methods', 'PUT, POST, GET, DELETE, OPTIONS');

  if (req.method === 'OPTIONS') {
    res.send(200);
  } else {
    next();
  }
});