/*! CSS Used from: Embedded */
.ui_icon:before{display:inline-block;font-style:normal;font-weight:400;font-variant:normal;font-size:inherit;line-height:1;font-family:TripAdvisor_Regular!important;-ms-transform:rotate(-.001deg);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;text-decoration:underline;}
.ui_icon.ui_icon:before{text-decoration:none;}
.ui_icon.caret-down:before{content:"\e04a";}
.ui_icon:before{display:inline-block;font-style:normal;font-weight:400;font-variant:normal;font-size:inherit;line-height:1;font-family:TripAdvisor_Regular!important;-ms-transform:rotate(-.001deg);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;text-decoration:underline;}
.ui_icon.ui_icon:before{text-decoration:none;}
.ui_icon.map-pin-fill:before{content:"\e01a";}
.ui_icon.share:before{content:"\e09a";}
.ui_icon.thumbs-up:before{content:"\e13a";}
div{margin:0;padding:0;}
img{border:0;}
q:after,q:before{content:"";}
a{text-decoration:none;}
.ui_bubble_rating{display:inline-block;position:relative;}
.ui_bubble_rating:after,.ui_bubble_rating:before{display:inline-block;font-style:normal;font-weight:400;font-variant:normal;font-size:inherit;line-height:1;font-family:TripAdvisor_Regular!important;-ms-transform:rotate(-.001deg);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;}
.ui_bubble_rating:before{color:#fff;display:block;content:"\e00a\e00a\e00a\e00a\e00a";}
.ui_bubble_rating:after{position:absolute;top:0;left:0;color:#00aa6c;}
.ui_bubble_rating.bubble_50:after{content:"\e00b\e00b\e00b\e00b\e00b";}
@media print{
.ui_bubble_rating:before{color:transparent;}
}
.ui_social_avatar{width:48px;height:48px;border-radius:100%;display:block;position:relative;overflow:hidden;background-color:#fff;transition:width 50ms,height 50ms;}
.ui_social_avatar img{display:block;width:42px;height:42px;margin:3px;border-radius:inherit;}
.ui_social_avatar:before{top:0;right:0;bottom:0;left:0;border:3px solid #fff;border-radius:inherit;}
.ui_social_avatar:after,.ui_social_avatar:before{position:absolute;box-sizing:border-box;content:"";}
.ui_social_avatar:after{top:3px;right:3px;bottom:3px;left:3px;border:1px solid rgba(0,0,0,.1);border-radius:inherit;}
.ui_social_avatar.inline{display:inline-block;}
.ui_link{color:#474747;text-decoration:none;cursor:pointer;}
@media (min-width:1024px){
.ui_link:active,.ui_link:hover{color:#474747;text-decoration:underline;}
}
.ui_link:focus{color:#474747;text-decoration:underline;outline:none;}
.ui_link:visited{color:#474747;text-decoration:none;}
/*! CSS Used from: https://static.tacdn.com/assets/OMqGt0.a0d9ebab.css */
._2HBN-k68{display:inline-block;vertical-align:bottom;}
._2JndpOur{fill:currentColor;}
/*! CSS Used from: https://static.tacdn.com/assets/Hgrhyo.365918b2.css */
._3x5_awTA{display:block;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;}
/*! CSS Used from: https://static.tacdn.com/assets/ui0Mdg.8516faed.css */
.UserShareMin{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;cursor:pointer;}
.UserShareMin .UserShareicon{margin-right:4px;font-size:20px;color:#bababa;}
.UserShareMin .UserSharemid{font-weight:700;font-size:12px;line-height:20px;color:#000;}
@media (min-width:768px){
.UserShareMin:hover .UserShareicon{color:#000;}
.UserShareMin:hover .UserSharemid{text-decoration:underline;}
}
/*! CSS Used from: https://static.tacdn.com/assets/QmAjD5.a8e12b75.css */
.userBody{font-size:14px;padding:0 16px;margin-top:5px;}
@media (min-width:768px){
.userBody{padding:0 24px;}
}
.userBodyy{color:#474747;font-size:16px;line-height:20px;word-wrap:break-word;}
.XUVJZtom{margin:6px 0 12px;}
._3maEfNCR{cursor:pointer;color:#8c8c8c;border:solid #e0e0e0;border-width:0 0 1px;}
._3aUwQbpX{margin-left:4px;}
.reviewRate{padding:8px 16px 0;-webkit-flex:1;-ms-flex:1;flex:1;}
@media (min-width:768px){
.reviewRate{padding:12px 24px 0;}
}
.UserRatingSub{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:baseline;-ms-flex-align:baseline;align-items:baseline;}
@media (max-width:767px){
.UserRatingSub{-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
}
.UserRating{position:relative;margin:0 -16px;background:#fff;}
@media (min-width:768px){
.UserRating{margin:0 -24px;}
}
.reviewTitle{margin-top:8px;margin-bottom:8px;padding:0 16px;cursor:pointer;font-weight:700;font-size:18px;line-height:22px;color:#000;word-wrap:break-word;}
@media (max-width:767px){
.reviewTitle{margin-top:10px;}
}
@media (min-width:768px){
.reviewTitle{width:calc(100% - 182px);padding:0 24px;}
}
.ocfR3SKN,.ocfR3SKN:active,.ocfR3SKN:visited{color:#000;}
.userTimeTravMin{display:block;margin-top:12px;font-size:14px;line-height:18px;color:#000;}
.userTimeTravMin .userTimeTravB{font-weight:700;}
/*! CSS Used from: https://static.tacdn.com/assets/T9pBQS.e817b2ee.css */
.userHelp{margin:0 -16px;padding:0 16px 16px;background:#fff;}
@media (min-width:768px){
.userHelp{margin:0 -24px;padding:0 24px 12px;}
}
.userHelp:last-child{padding-bottom:0;}
/*! CSS Used from: https://static.tacdn.com/assets/WWE3W5.bc8b740c.css */
.minorReviewsingle{margin-bottom:12px;zoom:1;}
.minorReviewsingle:after,.minorReviewsingle:before{content:" ";display:table;}
.minorReviewsingle:after{clear:both;}
.minorReviewsingle .ui_social_avatar{margin:-3px 8px 0 -3px;float:left;}
.bubbleMinor{display:-webkit-flex;display:-ms-flexbox;display:flex;margin:-2px 0 0 12px;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;float:right;}
.userHeader:active,.userHeader:hover{text-decoration:underline;}
.userHeader.ui_header_link{font-weight:700;color:#000;}
@media (max-width:767px){
.userHeader.ui_header_link{display:block;}
}
.bubbleMain,.bubbleMain .userMain{height:100%;overflow:hidden;}
.bubbleMain .userMain{padding-bottom:2px;font-size:14px;line-height:18px;color:#474747;}
.bubbleMain .overflow{margin-top:-2px;float:right;}
/*! CSS Used from: https://static.tacdn.com/assets/miRpRf.96a44839.css */
.userBodySub,.userBodyWrap{position:relative;}
.userBodySubLas .userBodyWrap{overflow:hidden;}
.userBodySubMid ._36B4Vw6t{display:none;}
.userBodySubLas ._36B4Vw6t{display:inline-block;}
/*! CSS Used from: https://static.tacdn.com/assets/3fnomI.24854ee0.css */
.userLoca .userLocaSub{font-size:12px;line-height:16px;}
.userLoca .userLocaSub{color:#8c8c8c;}
@media (min-width:768px){
.userLoca .userLocaSub+.userContri:before{content:"\A0\2022\A0";}
}
@media (max-width:767px){
.userLoca .userLocaSub{display:block;}
}
.userLoca .userContri{font-size:12px;line-height:16px;color:#8c8c8c;display:inline-block;}
.userLoca .userContri+.userContri:before{content:"\A0\2022\A0";}
.userLoca .userContriSub{font-weight:700;color:#8c8c8c;}
/*! CSS Used from: https://static.tacdn.com/assets/zrL722.9c0e0a1c.css */
.uHelpful{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;cursor:pointer;}
.uHelpful:not(:last-child){margin-right:20px;}
.uHelpful .iconlast{margin-right:4px;font-size:20px;color:#bababa;}
.uHelpful .link{font-weight:700;font-size:12px;line-height:20px;color:#000;}
@media (min-width:768px){
.uHelpful:hover .iconlast{color:#000;}
.uHelpful:hover .link{text-decoration:underline;}
}
.UserShareMain{display:-webkit-flex;display:-ms-flexbox;display:flex;}
@media (max-width:767px){
.UserShareMain{margin-right:-4px;}
.UserShareMain .socialCTA{display:none;}
}
.userHelpdiv{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;margin-top:12px;box-sizing:border-box;}
@media (max-width:767px){
.userHelpdiv{-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
}
/*! CSS Used from: https://static.tacdn.com/assets/ce1YGz.3e4e3456.css */
.circle{float:right;}
/*! CSS Used from: https://static.tacdn.com/assets/lQWUxH.c87a3406.css */
.middeSinglekzTX{margin-bottom:12px;}
.mainReviwSingleAugU{background-color:#fff;box-sizing:border-box;}
.mainReviwSingleAugU.lastSingle{padding:16px 16px 12px;}
@media (min-width:768px){
.mainReviwSingleAugU.lastSingle{padding:16px 24px 12px;}
}
/*! CSS Used from: https://static.tacdn.com/assets/u-66yY/K6n6GC.04e8829e.css */
.userTimeTrav{padding-bottom:12px;}
/*! CSS Used from: https://static.tacdn.com/assets/jLmCNP.5a103493.css */
.circleFront{margin-left:12px;font-size:24px;cursor:pointer;}
@media (min-width:768px){
.circleFront:hover{color:var(--bubbleIcon);}
}
.circleFront.circleBack{color:var(--primaryIcon);}
/*! CSS Used from: https://static.tacdn.com/assets/Ac9jMZ.3ef0cac9.css */
.userHelpMin{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;height:0;opacity:0;transition:height .15s ease-in,padding-bottom .15s ease-in,padding-top .15s ease-in,opacity .15s ease-in;}
/*! CSS Used from: https://static.tacdn.com/assets/_RYn2L.c9d82846.css */
._3J15flPT ._2kj8kWkW{margin-right:4px;font-size:16px;}
._3J15flPT.small{margin:0;font-size:12px;line-height:16px;}
._3J15flPT.small ._2kj8kWkW{position:relative;top:-1px;margin-right:0;font-size:12px;}





/*! CSS Used from: Embedded */
@media (max-width:1023px){
  .delineation #btf_wrap .ui_pagination{border-width:1px 0 0;border-style:solid;border-color:#e0e0e0;}
  }
  .ui_button{-webkit-appearance:none;-moz-appearance:none;appearance:none;position:relative;display:inline-block;padding:8px 16px;font-weight:700;font-family:inherit;border:1px solid transparent;border-radius:2px;background-clip:padding-box;box-sizing:border-box;font-size:14px;line-height:18px;text-align:center;text-decoration:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;cursor:pointer;transition:background-color .2s;}
  .ui_button:focus:active{text-decoration:none;outline:none;}
  .ui_button.primary{border-color:#000;border-radius:3px;background-color:#000;color:#fff;}
  .ui_button.primary:not(.disabled):hover{text-decoration:none;border-color:#292929;background-color:#292929;}
  .ui_button.primary:not(.disabled):focus{outline:none;text-decoration:none;box-shadow:0 0 0 2px #fff,0 0 0 3px #000;}
  .ui_button.primary:not(.disabled):active{border-color:#525252;background-color:#525252;box-shadow:none;}
  .ui_button.secondary{border-color:#000;border-radius:3px;background-color:#fff;color:#000;}
  .ui_button.secondary:not(.disabled):hover{text-decoration:none;background-color:#d6d6d6;border-color:#000;color:#000;}
  .ui_button.secondary:not(.disabled):focus{outline:none;text-decoration:none;box-shadow:0 0 0 2px #fff,0 0 0 3px #000;}
  .ui_button.secondary:not(.disabled):active{background-color:#adadad;border-color:#000;color:#000;box-shadow:none;}
  .ui_pagination{padding:12px 0;overflow:hidden;border-width:1px 0;border-style:solid;border-color:#e0e0e0;background-color:#fff;text-align:center;}
  .ui_pagination .pageNumbers{display:inline-block;padding-top:3px;}
  .ui_pagination .pageNum{line-height:40px;height:40px;width:40px;font-size:14px;font-weight:700;border:none;display:inline-block;color:#000;cursor:pointer;border-radius:2px;}
  .ui_pagination .pageNum.disabled{cursor:default;}
  .ui_pagination .pageNum.current{background-color:#f2f2f2;border-color:#f2f2f2;color:#000;cursor:default;}
  .ui_pagination .separator{width:32px;line-height:30px;color:#8c8c8c;}
  .ui_pagination .separator:hover{text-decoration:none;}
  .ui_pagination .nav.previous{float:left;}
  .ui_pagination .nav.next{float:right;}
  @media (max-width:767px){
  .ui_pagination .pageNumbers{padding-top:8px;}
  .ui_pagination .nav{width:48%;}
  }
  @media (min-width:768px){
  .ui_pagination{padding:12px 10px;}
  .ui_pagination .pageNum{color:#000;}
  .ui_pagination .pageNum:hover{color:#00aa6c;text-decoration:none;}
  .ui_pagination .pageNum.current:hover{color:#000;text-decoration:none;}
  }
  @media (max-width:350px){
  .ui_pagination .pageNum{margin:0 -3px;}
  }
  /*! CSS Used from: https://static.tacdn.com/assets/Mqro46.79df7164.css */
  ._16gKMTFp{margin-bottom:12px;}
  .ui_pagination{border:none;}
  /*! CSS Used from: https://static.tacdn.com/assets/Mqro46.c10ae178.css */
  ._16gKMTFp{margin-bottom:12px;}
  .ui_pagination{border:none;}





app.all('*', (req, res, next) => {
  res.header('Access-Control-Allow-Origin', '*');
  res.header('Access-Control-Allow-Headers', 'Content-Type, Content-Length, Authorization, Accept, X-Requested-With , yourHeaderFeild');
  res.header('Access-Control-Allow-Methods', 'PUT, POST, GET, DELETE, OPTIONS');

  if (req.method === 'OPTIONS') {
    res.send(200);
  } else {
    next();
  }
});


useEffect(() => {
  const fetchPosts = async () => {
    setLoading(true);
    const res = await axios.get('https://jsonplaceholder.typicode.com/posts');
    setPosts(res.data);
    setLoading(false);
  };

  fetchPosts();
}, []);

