
#review .Rev-mainReview {
  background-color: #f2f2f2
}
#review .Rev-qandA,
#review .Rev-reviewsTags {
  height: 76px;
  padding: 16px 12px;
  text-align: center;
  cursor: pointer
}
#review .Rev-subLeftWrite :first-child > a,
#review .Rev-subLeftWrite>:last-child>:first-child {
  width: 100%
}
#review .dropDownBox,
#review .ui_button {
  background-clip: padding-box
}
#review .ui_checkbox label,
#review .ui_radio label {
  padding-left: 24px;
  box-sizing: content-box;
  position: relative
}
#review .ui_checkbox label:before,
#review .ui_radio label:before {
  position: absolute;
  box-shadow: inset 0 0 2px rgba(0,0,0,.1);
  content: ""
}
#review .ui_checkbox+.ui_checkbox,
#review .ui_radio+.ui_radio {
  margin-left: 1rem
}
#review .Rev-mainWrite,
#review .Rev-subMenu span,
#review .fullBar,
#review .ui_button,
#review .ui_radio label {
  position: relative
}
#review .middle,
#review .ui_button {
  font-family: inherit;
  box-sizing: border-box
}
div,
h2 {
  margin: 0;
  padding: 0
}
#review .ui_icon:before,
#review .ui_link:focus {
  text-decoration: underline
}
#review .dropDownBox,
#review .mainReviwSingleAugU,
#review .middle,
#review .ui_button,
#review .ui_column,
#review .ui_columns,
#review .userHelpdiv {
  box-sizing: border-box
}
#review .Rev-qandA,
#review .Rev-reviewsTags,
#review .pagenation,
#review .pagination,
#review .ui_button {
  text-align: center
}
#review .Rev-qandA,
#review .Rev-reviewsTags,
#review .UserShareMin,
#review ._3maEfNCR,
#review .circleFront,
#review .classified,
#review .fullBar,
#review .languageOption,
#review .pageNum,
#review .reviewTitle,
#review .uHelpful,
#review .ui_button,
#review .ui_checkbox label,
#review .ui_link,
input[type=checkbox],
input[type=radio] {
  cursor: pointer
}
body {
  margin: 0
}
ul {
  list-style: none;
  padding-inline-start: 0
}
#review {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  flex: none;
  /* width: 66.66666667%; */
  font-family: 'Trip Sans',Arial,sans-serif!important
}
#review .Rev-mainMenu,
#review .Rev-mainWrite {
  background-color: #fff;
  width: 837.328px;
}
#review .Rev-subMenu {
  display: flex;
}
#review .Rev-subMenu span {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 14
}
#review .Rev-reviewsTags {
  border: 1px solid #e0e0e0;
  border-bottom: none;
  display: flex;
  flex-direction: column
}
#review .Rev-reviewIcon img {
  text-align: center;
  display: inline-block;
  height: 26px;
  width: 26px
}
#review .Rev-totalReviews {
  margin-top: 4px;
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700
}
#review .Rev-printReviews {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600
}
#review .Rev-qandA {
  border: 1px solid #e0e0e0;
  border-left: none;
  display: flex;
  flex-direction: column
}
#review .Rev-totalRev-qandA {
  margin-top: 4px;
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700
}
#review .Rev-printRev-qandA {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400
}
#review .Rev-writeText,
#review .travelerRating,
#review .ui_button,
h2 {
  font-weight: 700
}
#review .Rev-reviewsTags::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 3px;
  width: calc(100% + 2px);
  background-color: #000;
  overflow: visible
}
#review .pagenation,
#review .pagination,
#review .ui_social_avatar,
#review .userBodySubLas .userBodyWrap {
  overflow: hidden
}
#review .Rev-mainWrite {
  padding: 0 16px;
  margin-bottom: 0;
  border-bottom-width: 0
}
@media (min-width:760px) {
  #review .Rev-mainWrite {
    padding: 0 24px
  }
}
#review .Rev-subWrite {
  padding-top: 16px
}
#review .Rev-mwrite {
  padding: 0 0 18px
}
@media (min-width:768px) {
  #review .Rev-mwrite {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
}
#review .Rev-subLeftWrite,
#review .UserShareMin {
  display: -webkit-flex;
  display: -ms-flexbox
}
#review .Rev-mbottom {
  border: solid #e0e0e0;
  border-width: 0 0 1px
}
#review .Rev-writeText {
  color: #000;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px
}

#review .Rev-mainLeftWrite {
  cursor: pointer;
  margin-top: 12px
}
@media (min-width:768px) {
  #review .Rev-writeText {
    font-size: 28px
  }
  #review .Rev-mainLeftWrite {
    margin: 0
  }
  #review .ui_columns:not(.is-desktop) {
    display: -webkit-flex;
    display: flex
  }
}
#review .Rev-subLeftWrite {
  display: flex
}
#review .ui_button,
#review .ui_checkbox,
#review .ui_checkbox label {
  display: inline-block
}
#review .Rev-subLeftWrite :first-child {
  -webkit-flex: 11;
  -ms-flex: 11;
  flex: 11;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto
}
#review .Rev-subLeftWrite > :last-child {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center
}
#review .ui_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color .2s
}
#review .ui_button:focus:active {
  text-decoration: none;
  outline: 0
}
#review .ui_button.primary {
  border-color: #000;
  border-radius: 3px;
  background-color: #000;
  color: #fff
}
#review .ui_button.primary:not(.disabled):hover {
  text-decoration: none;
  border-color: #292929;
  background-color: #292929
}
#review .ui_button.primary:not(.disabled):focus {
  outline: 0;
  text-decoration: none;
  box-shadow: 0 0 0 2px #fff,0 0 0 3px #000
}
#review .ui_button.primary:not(.disabled):active {
  border-color: #525252;
  background-color: #525252;
  box-shadow: none
}
#review .ui_button.secondary {
  border-color: #000;
  border-radius: 3px;
  background-color: #fff;
  color: #000
}
#review .ui_button.secondary:not(.disabled):hover {
  text-decoration: none;
  background-color: #d6d6d6;
  border-color: #000;
  color: #000
}
#review .ui_button.secondary:not(.disabled):focus {
  outline: 0;
  text-decoration: none;
  box-shadow: 0 0 0 2px #fff,0 0 0 3px #000
}
#review .ui_button.secondary:not(.disabled):active {
  background-color: #adadad;
  border-color: #000;
  color: #000;
  box-shadow: none
}

#review .ui_icon.pencil-paper:before {
  content:"\e00e";
}

#review ._3HDPvvJK  {
  font-size:28px;
  line-height:32px;
  display:block;
}

.ui_icon.forums:before {
  content:"\e006";
}

#review .dropDownBox {
  background-color: #000;
  border-radius: 2px;
  border: 1px solid #000;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin-left: 1px;
  padding: 8px 10px
}
#review .ratingBar,
#review .searchBar .wF-i9JOp {
  color: #000
}
#review .ui_checkbox input,
#review .ui_radio input {
  display: none
}
#review .ui_checkbox label:before {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  font: 700 1em/1 TripAdvisor_Regular;
  color: #fff
}
#review .ui_checkbox input:checked + label:before {
  background-color: #000;
  content: "\e02b"
}
#review .ui_columns {
  margin-left: -12px;
  margin-right: -12px
}
@media (max-width:767px) {
  #review .Rev-subLeftWrite > :last-child {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
  }
  #review .ui_columns {
    margin-left: -8px;
    margin-right: -8px
  }
}
#review .ui_column {
  display: block;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  padding: 12px
}
#review .ui_radio label:before {
  top: -1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 100%;
  font: 11px/15px TripAdvisor_Regular;
  text-indent: 2px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
#review .ui_bubble_rating:after,
#review .ui_bubble_rating:before,
#review .ui_icon:before {
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-size: inherit;
  line-height: 1;
  font-family: TripAdvisor_Regular!important;
  -ms-transform: rotate(-.001deg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none
}
#review .ui_radio input:checked + label:before {
  color: #004f32;
  content: "\e00a";
  font-size: 12px
}
#review .ui_radio {
  display: inline-block
}
@media (max-width:767px) {
  #review .ui_column {
    padding: 8px
  }
  #review .ui_column.is-12-mobile {
    -webkit-flex: none;
    flex: none;
    width: 100%
  }
  #review .is-shown-at-tablet {
    display: none!important
  }
}
#review .firstComponent {
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  pointer-events: auto
}
@media (min-width:768px) {
  #review .ui_column.is-3-tablet {
    -webkit-flex: none;
    flex: none;
    width: 25%
  }
  #review .ui_column.is-5 {
    -webkit-flex: none;
    flex: none;
    width: 41.66666667%
  }
  #review .ui_column.is-6 {
    -webkit-flex: none;
    flex: none;
    width: 50%
  }
  #review .is-hidden-tablet {
    display: none!important
  }
  #review .firstComponent {
    padding-left: 24px;
    padding-right: 24px
  }
}
#review .travelerRating {
  padding-top: 6px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  color: #000
}
#review .ratingBar {
  display: table;
  width: 100%;
  border-spacing: 0 12px;
  font-size: 14px
}
#review ._3gEj_Jb5,
li._3gEj_Jb5 {
  display: table-row
}
#review ._3gEj_Jb5 input:checked + label:before,
li._3gEj_Jb5 input:checked + label:before {
  color: #fff;
  background-color: #000;
  border-color: transparent
}
#review .classified {
  display: table-cell;
  vertical-align: middle
}
#review .class_end {
  white-space: pre
}
#review .ratingStick {
  display: table-cell;
  width: 100%;
  padding-left: 12px
}
#review .fullBar {
  background: #e0e0e0;
  height: 12px;
  width: 100%;
  margin-top: -1px;
  top: 3px
}
#review .fullBar,
#review .percentBar {
  display: inline-block;
  border-radius: 2px
}
#review .percentBar {
  background: #000;
  height: 100%;
  vertical-align: text-top
}
#review .ratingNum {
  padding-left: 8px
}
#review .languageOption {
  display: table-cell;
  padding-right: 12px;
  vertical-align: middle
}
#review .lang,
#review .ui_bubble_rating,
#review .ui_icon:before {
  display: inline-block
}
#review .lang {
  white-space: nowrap;
  padding-right: 4px
}
#review .ui_radio .languageOption:before {
  font-size: 11px!important
}
#review .langNum {
  color: #8c8c8c
}
#review .ui_icon.search:before {
  content: "\e056"
}
#review .wF-i9JOp {
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
  padding-right: 12px;
  left: 10px;
  top: 50%;
  margin-top: -12px;
  position: absolute;
  color: #004f32
}
#review .UserRating,
#review .UserShareMin,
#review .searchBar,
#review .uHelpful,
#review .ui_bubble_rating,
#review .ui_social_avatar,
#review .userBodySub,
#review .userBodyWrap,
#review .userHelpMin,
#review .userHelpdiv {
  position: relative
}
#review .searchBar {
  margin: 8px 0;
  pointer-events: auto;
  background-color: #f2f2f2
}
#review .mainReviwSingleAugU,
#review .pagenation,
#review .pagination,
#review .ui_social_avatar {
  background-color: #fff
}
#review .searchBar > .searchRe {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  border-color: #000;
  outline-color: #000
}
#review .searchBar > .searchRe:focus {
  border-color: #004f32;
  outline: #004f32 solid 1px
}
#review .middle {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #000;
  border-radius: 2px
}
#review .middle:focus {
  border-color: #000;
  outline: #000 solid 1px
}
#review .ui_icon.caret-down:before {
  content: "\e04a"
}
#review .ui_icon.ui_icon:before {
  text-decoration: none
}
#review .ui_icon.map-pin-fill:before {
  content: "\e01a"
}
#review .ui_icon.share:before {
  content: "\e09a"
}
#review .ui_icon.thumbs-up:before {
  content: "\e13a"
}
img {
  border: 0
}
q:after,
q:before {
  content: ""
}

#review .ui_bubble_rating:after,
#review .ui_bubble_rating:before {
  display: inline-block
}
#review .ui_bubble_rating:before {
  color: #fff;
  display: block;
  content: "\e00a\e00a\e00a\e00a\e00a"
}
#review .ui_bubble_rating:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #00aa6c
}
#review .ui_bubble_rating.bubble_10:after {
  content: "\e00b\e00d\e00d\e00d\e00d"
}
#review .ui_bubble_rating.bubble_20:after {
  content: "\e00b\e00b\e00d\e00d\e00d"
}
#review .ui_bubble_rating.bubble_30:after {
  content: "\e00b\e00b\e00b\e00d\e00d"
}
#review .ui_bubble_rating.bubble_40:after {
  content: "\e00b\e00b\e00b\e00b\e00d"
}
#review .ui_bubble_rating.bubble_50:after {
  content: "\e00b\e00b\e00b\e00b\e00b"
}
@media print {
  #review .ui_bubble_rating:before {
    color: transparent
  }
}
#review .ui_social_avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: block;
  transition: width 50ms,height 50ms
}
#review ._2HBN-k68,
#review .ui_social_avatar.inline {
  display: inline-block
}
#review .ui_social_avatar img {
  display: block;
  width: 42px;
  height: 42px;
  margin: 3px;
  border-radius: inherit
}
#review .ui_social_avatar:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid #fff;
  border-radius: inherit
}
#review .ui_social_avatar:after,
#review .ui_social_avatar:before {
  position: absolute;
  box-sizing: border-box;
  content: ""
}
#review .ui_social_avatar:after {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: inherit
}
#review .ui_link {
  color: #474747;
  text-decoration: none
}
@media (min-width:1024px) {
  #review .ui_link:active,
  #review .ui_link:hover {
    color: #474747;
    text-decoration: underline
  }
}
#review .ui_link:focus {
  color: #474747;
  outline: 0
}
#review .ui_link:visited {
  color: #474747;
  text-decoration: none
}
#review ._2HBN-k68 {
  vertical-align: bottom
}
#review ._2JndpOur {
  fill: currentColor
}
#review ._3x5_awTA {
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
#review .UserShareMin {
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}
#review .UserShareMin .UserShareicon {
  margin-right: 4px;
  font-size: 20px;
  color: #bababa
}
#review .UserShareMin .UserSharemid {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #000
}
#review .userBody {
  font-size: 14px;
  padding: 0 16px;
  margin-top: 5px
}
@media (min-width:768px) {
  #review .UserShareMin:hover .UserShareicon {
    color: #000
  }
  #review .UserShareMin:hover .UserSharemid {
    text-decoration: underline
  }
  #review .userBody {
    padding: 0 24px
  }
}
#review .userBodyy {
  color: #474747;
  font-size: 16px;
  line-height: 20px;
  word-wrap: break-word
}
#review .XUVJZtom {
  margin: 6px 0 12px
}
#review ._3maEfNCR {
  color: #8c8c8c;
  border: solid #e0e0e0;
  border-width: 0 0 1px
}
#review ._3aUwQbpX {
  margin-left: 4px
}
#review .reviewRate {
  padding: 8px 16px 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}
#review .UserRatingSub {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}
#review .UserRating {
  margin: 0 -16px;
  background: #fff
}
@media (min-width:768px) {
  #review .reviewRate {
    padding: 12px 24px 0
  }
  #review .UserRating {
    margin: 0 -24px
  }
}
#review .reviewTitle {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  word-wrap: break-word
}
@media (max-width:767px) {
  #review .UserRatingSub {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
  #review .reviewTitle {
    margin-top: 10px
  }
}
@media (min-width:768px) {
  #review .reviewTitle {
    width: calc(100% - 182px);
    padding: 0 24px
  }
}
#review .ocfR3SKN,
#review .ocfR3SKN:active,
#review .ocfR3SKN:visited {
  color: #000
}
#review .userTimeTravMin {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #000
}
#review .bubbleMinor,
#review .uHelpful {
  display: -webkit-flex;
  display: -ms-flexbox
}
#review .userTimeTravMin .userTimeTravB {
  font-weight: 700
}
#review .userHelp {
  margin: 0 -16px;
  padding: 0 16px 16px;
  background: #fff
}
@media (min-width:768px) {
  #review .userHelp {
    margin: 0 -24px;
    padding: 0 24px 12px
  }
  #review .userLoca .userLocaSub + .userContri:before {
    content: "\A0\2022\A0"
  }
}
#review .userHelp:last-child {
  padding-bottom: 0
}
#review .minorReviewsingle {
  margin-bottom: 12px;
  zoom: 1
}
#review .minorReviewsingle:after,
#review .minorReviewsingle:before {
  content: " ";
  display: table
}
#review .minorReviewsingle:after {
  clear: both
}
#review .minorReviewsingle .ui_social_avatar {
  margin: -3px 8px 0 -3px;
  float: left
}
#review .bubbleMinor {
  display: flex;
  margin: -2px 0 0 12px;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  float: right
}
#review .middeSinglekzTX,
#review .pagenationWrapper {
  margin-bottom: 12px
}
#review .userHeader:active,
#review .userHeader:hover {
  text-decoration: underline
}
#review .userHeader.ui_header_link {
  font-weight: 700;
  color: #000
}
@media (max-width:767px) {
  #review .userHeader.ui_header_link {
    display: block
  }
}
#review .bubbleMain,
#review .bubbleMain .userMain {
  height: 100%;
  overflow: hidden
}
#review .bubbleMain .userMain {
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 18px;
  color: #474747
}
#review .userLoca .userContri,
#review .userLoca .userLocaSub {
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c
}
#review .bubbleMain .overflow {
  margin-top: -2px;
  float: right
}
#review .userBodySubMid ._36B4Vw6t {
  display: none
}
#review .userBodySubLas ._36B4Vw6t {
  display: inline-block
}
@media (max-width:767px) {
  #review .userLoca .userLocaSub {
    display: block
  }
}
#review .userLoca .userContri {
  display: inline-block
}
#review .userLoca .userContri + .userContri:before {
  content: "\A0\2022\A0"
}
#review .userLoca .userContriSub {
  font-weight: 700;
  color: #8c8c8c
}
#review .uHelpful {
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}
#review .UserShareMain,
#review .userHelpdiv {
  display: -webkit-flex;
  display: -ms-flexbox
}
#review .uHelpful:not(:last-child) {
  margin-right: 20px
}
#review .uHelpful .iconlast {
  margin-right: 4px;
  font-size: 20px;
  color: #bababa
}
#review .uHelpful .link {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #000
}
#review .UserShareMain {
  display: flex
}
#review .userHelpdiv {
  display: flex;
  margin-top: 12px
}
@media (max-width:767px) {
  #review .UserShareMain {
    margin-right: -4px
  }
  #review .UserShareMain .socialCTA {
    display: none
  }
  #review .userHelpdiv {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
#review .circle {
  float: right
}
#review .mainReviwSingleAugU.lastSingle {
  padding: 16px 16px 12px
}
#review .userTimeTrav {
  padding-bottom: 12px
}
#review .circleFront {
  margin-left: 12px;
  font-size: 24px
}
@media (min-width:768px) {
  #review .uHelpful:hover .iconlast {
    color: #000
  }
  #review .uHelpful:hover .link {
    text-decoration: underline
  }
  #review .mainReviwSingleAugU.lastSingle {
    padding: 16px 24px 12px
  }
  #review .circleFront:hover {
    color: var(--bubbleIcon)
  }
}
#review .circleFront.circleBack {
  color: var(--primaryIcon)
}
#review .userHelpMin {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  opacity: 0;
  transition: height .15s ease-in,padding-bottom .15s ease-in,padding-top .15s ease-in,opacity .15s ease-in
}
/*! CSS Used from: https://static.tacdn.com/assets/_RYn2L.c9d82846.css */
#review ._3J15flPT ._2kj8kWkW {
  margin-right: 4px;
  font-size: 16px
}
#review ._3J15flPT.small {
  margin: 0;
  font-size: 12px;
  line-height: 16px
}
#review ._3J15flPT.small ._2kj8kWkW {
  position: relative;
  top: -1px;
  margin-right: 0;
  font-size: 12px
}
#review .pagenation {
  border: solid #e0e0e0;
  padding: 12px;
  border-width: 1px 0
}
#review .pagination {
  padding: 12px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e0e0e0
}
#review .pagination .pageNumbers {
  display: inline-block;
  padding-top: 3px
}
#review .pageNum {
  line-height: 40px;
  height: 40px;
  width: 40px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  display: inline-block;
  color: #000;
  border-radius: 2px
}
#review .current,
#review .pageNum:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #000
}
#review .current,
#review .pageNum:hover,
#review .pagination .pageNum.disabled {
  cursor: default
}
#review .pagination .separator {
  width: 32px;
  line-height: 30px;
  color: #8c8c8c
}
#review .pagination .separator:hover {
  text-decoration: none
}
#review .previous {
  float: left
}
#review .next {
  float: right
}